$color_1: #353535;
$font-family_1: "Roboto", sans-serif;
$background-color_1: white;
$background-color_2: #eaeaea;

body {
	box-sizing: border-box;
	font-family: $font-family_1;
	margin: 0;
}
.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
	box-shadow: 5px 0px 20px #a7a7a7;
}
.header_logo {
	width: 200px;
	padding: 15px 0px 15px 0px;
    
}

.location {
	background-color: $background-color_2;
	color: $color_1;
	padding: 0;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    padding-right: 20px;
}
.location_text {
	font-size: 16px;
	font-weight: 500;
}
.location_logo{
    padding-right: 17px;
}
