$color-1: #353535;
$font-family-roboto: "Roboto", sans-serif;
$background-color-1: white;
$background-color-2: rgba(234, 234, 234, 1);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$terciary-color: #99E2D0;
$gradient: linear-gradient($secondary-color, $primary-color);